
.heading {
  text-align: center;
  font-size: 23px;
  background-color: bisque;
  width: 100%;
  height: 1000px;
}

.title{
  padding-top: 35px;
}

.riding-btn{
  padding: 4px 25px;
  font-size: 20px;
  /* background-color: fuchsia; */
  background: blueviolet;
}

.rendersBtn{
  padding: 2px 15px;
  margin-left: 20px;
  background-color: gray;
}
.acc{
  background-color: chartreuse;
  padding: 1px 12px;
  font-size: 17px;
}
.rej{
  background-color: crimson;
  padding: 1px 12px;
  font-size: 17px;
}
.moneyPay{
  padding: 3px 12px;
  font-size: 18px;
  background-color: darkturquoise;

}
.againR{
  padding: 3px 12px;
  font-size: 18px;
  background-color: darkkhaki;
}
.accM{
  padding: 3px 12px;
  font-size: 18px;
  background-color: fuchsia;
  margin-top: 13px;
}
